Support for symmetric keys

This is a continuation of issue #20 to address a pair of minor open issues regarding implementation of support for symmetric keys.

The change to get this working (commit 8d268cf77bb92cf9c1cab3650009f5e29d53e649) is pretty simple and straightforward, wasn't difficult to update unit tests to accommodate, and has been working well in the application I needed it for. However, there are two items that should be addressed before it is considered as part of a PR: whether or not to add the HS* family of algorithms to the default set of valid algorithms and whether or not to check if a key's "kty" parameter is "oct".

Open issue 1: I'm not entirely decided on whether or not it would be a good idea to add the HS* family of algorithms to the default set included in Policy.cs, but I'm leaning against it for several reasons. First, as discussed in #20 it's not a good idea in all applications to use a symmetric algorithm whereas it's probably never a bad plan to use an asymmetric algorithm, so suggesting the use of non-symmetric algorithms to developers by default seems like a good idea. Second, the third point in [this Medium article](https://medium.com/101-writeups/hacking-json-web-token-jwt-233fe6c862e6) mentions that it is possible to trick some libraries into erroneously using an RS256 public key in an HS256 algorithm. While I don't think that would happen in this library unless a developer completely messed up the specification of their keys, it seems like it would still be a good security measure for applications to generally stick to one set of allowed algorithms or the other, which doesn't support a decision to update the default set to allow both.

Open issue 2: My initial change checks for a key type of "oct" as mentioned in the standard at [RFC7518 Section 6.4](https://tools.ietf.org/html/rfc7518#section-6.4), but at present the existing code for RSA keys does not do a similar check for a key type of "RSA" as mentioned in [RFC7518 Section 6.3](https://tools.ietf.org/html/rfc7518#section-6.3) and instead just checks for the existence of the "e" and "n"  parameters in the key. Since at this time the "k" parameter is only used for symmetric keys, I could also just check for the existence of that parameter without checking the key type, and I'm leaning towards doing so to maintain consistency with the existing code and to keep developers from needing to figure out that they must set "kty" to this exact string in addition to setting "k".

@leastprivilege, whenever you have time if you would please let me know what your thoughts are on these two open issues and let me know whether you'd be interested in having me start a PR with the full set of changes I made [here](https://github.com/IdentityModel/IdentityModel.OidcClient2/compare/dev...reubenrybnik:dev), I'd appreciate it. Thanks!

Hey

thanks for doing this investigation. I am planning to do a major release soon, so maybe we should make that a 1st class citizen.

Let me think about your questions for a moment.

Remind me - why do you need this feature - and which protocol flows does your provider support?

As I mentioned in #20, I needed this feature because I have used this library to set the company I work for up as an RP with ADP as the OP (thanks again by the way, this library worked very well and saved me a lot of time!) and they use HS256 to sign their identity tokens for whatever reason. In general, the HS family of algorithms can be used safely between platforms that offer their software as a service, but as was previously discussed in #20 it is probably generally wise to avoid their use in software that is distributed.

ADP uses the authorization code flow, but we may also use the implicit or hybrid flows with other OPs in the future, and this will work for verifying identity tokens using any flow that provides them. As I mentioned in #20, the alternate solution of skipping validation altogether (#21) was also an option since certificate validation via the backchannel SSL communication of the authorization code flow makes signature verification less necessary altogether, but since support was easy to add I decided to go with implementing #20 instead.

From a standards perspective, support of HS256 appears to be required by https://tools.ietf.org/html/rfc7518#section-3.1 and https://tools.ietf.org/html/rfc7518#section-6.1, but from a practical perspective I will admit that ADP is the only provider I've come across so far that uses it. We have a longer-term interest in supporting additional or even any OPs, but the ones we're most interested in - Okta, OneLogin, and Ping Identity - all use RS256 as their default (and sometimes required) signing algorithm, so they would not need this change.

We are currently hosting the version with my modifications on our own internal NuGet server without any intent to redistribute it and can continue to do so indefinitely if necessary, so I won't be inconvenienced if you determine that taking this change is not in the overall best interests of this code base. Since you hadn't ruled it out in your response to my comments in #20, I decided to resurface the issue and offer to contribute this change if you were interested in taking it. I look forward to hearing what you decide; let me know if I can be of any further assistance. Thanks!

Hold on - are you saying that they sign the token with a symmetric key - and this key is published in their discovery document? And they use the same key for all clients?

I am not saying that. The client secret, which is issued on a per-partner basis, is used as the symmetric key, and as far as I know ADP doesn't provide a discovery endpoint at all (and if they do I doubt it includes any keys).

The other implementations I've seen so far that allow use of the HS* family of algorithms have also used the client secret as the symmetric key. For example, Ping Identity shows the client secret as the key to use for all HS* algorithms in the Signature Validation subsection of [their documentation](https://www.pingidentity.com/content/developer/en/resources/openid-connect-developers-guide.html#id_token), and the test OP provided by the OpenID Foundation (which I used for testing this out in a dev environment before trying it with ADP) also uses the client secret as its key if one throws a blob like the one below at its registration endpoint.

```
{
    "application_type": "web",
    "redirect_uris": [
        "https://www.example.com"
    ],
    "client_name": "My Test Client",
    "token_endpoint_auth_method": "client_secret_basic",
    "grant_types": ["authorization_code"],
    "response_types": ["code"],
    "id_token_signed_response_alg": "HS256"
}
```

Looking through documentation for a more definitive answer here, [the documentation for the id_token_signed_response_alg parameter in a registration request](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata) does suggest that the symmetric key might be included in a response to an OP's jwks_uri endpoint after registration has been performed. That worried me for a moment, but happily only asymmetric public keys were included in the jwks_uri endpoint response when I tried it on the OpenID Foundation's test OP after successfully registering a client using the blob above. While it's not as crystal clear as I would like, the observed behavior of the use of the client secret as the symmetric key appears to be outlined in the [documentation for the client registration response](https://openid.net/specs/openid-connect-registration-1_0.html#RegistrationResponse) regarding the client_secret value in its statement that it is used "for the derivation of symmetric encryption key values, as described in [Section 10.2 of OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html#Signing)" which states for symmetric signatures that "the MAC key used is the octets of the UTF-8 representation of the client_secret value."

Then I am confused by this code

https://github.com/IdentityModel/IdentityModel.OidcClient2/commit/8d268cf77bb92cf9c1cab3650009f5e29d53e649

Why would you ever read a symmetric key from a discovery document? This key is secret.

IOW - what we really want is a "UseClientSecretToValidateIdToken" setting (naming has to be determined ;).

That's a good point, I actually didn't catch the discovery part of the Policy option and put together my own discovery code in our project (which doesn't get any use outside of testing yet since I have to put ADP's configuration together manually). It'll be nice, too, to make it so developers don't need to turn the secret key into a base64 string themselves. I'll work on making that update.

The setting could potentially be inferred through the presence of one or more of the HS* algorithms in the ValidSignatureAlgorithms option instead of being its own explicit option; what are your thoughts on that? That would probably be a bad idea if that property were filled in by discovery, though. As far as I can tell that's not currently set during discovery, but I could maybe see it being filled in from the id_token_signing_alg_values_supported property of an OP's openid-configuration response at some point in the future.

The standards do seem pretty clear on the client secret being the only allowed symmetric key, but just to confirm, would you prefer to have the code that will turn a symmetric JWK into a SymmetricSecurityKey removed altogether or is there a scenario you can think of that would merit allowing an arbitrary symmetric key to be manually provided as part of the key set?

With regards to tests, from a certification standpoint it looks like rp-id_token-sig-hs256 and rp-id_token-bad-sig-hs256 from https://rp.certification.openid.net:8080/list?profile=CI should be implemented. Aside from those and a unit test or two, are there any other tests that should be implemented as part of this?

OK - I added a task.

It will be based on the new v3 version (see the v3 branch).

Continue discussion on #100